

body{
margin:0;
}

.float_left{
   float:left;
   margin-top:-10px;
   margin-left:20px;
   font-size: 1.2em;
}

.float_right{
    float:right;
    margin-top:10px;
    margin-right:10px;
    font-size: 1.2em;
}

.navigation{
   width:100%;
   height:50px;
   background-color:#7b6f6f;
}


.main{
    width:100%;
    background-color:#FFF8DC;

}

.footer{
    width:100%;
    height:200px;
    background-color:#D2B48C;
}

.footer_img{
    width:100px;
    height: 100px;

}
#services{
   display:inline-block;
}

.service_image{
width:400px;
height:200px;
margin-left:100px;
}

.FAQ{

margin-left:100px;
     width:80%;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.appointment-left{

    margin-left:100px;
    display:inline-block;
    width:40%
    height:100px;


}

.appointment_right{


    margin-left:400px;
    position:inline-block;
    display:block;


}

#appointment{
position:inline-block;

}
.categories{
      position:center;
     margin-left:auto;
     margin-right:auto;
     padding:20px;
     width:800px;

}
.carousel{
     width:100%;
     height:500px;
}


